html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}

input {
  color: gray;
  font-size: 1.2rem;
  width: 100%;
}

ol {
  padding: 0;
}

img {
  width: 100%;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax( 200px, 1fr ) ) ;
  grid-gap: 10px;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}